body {
    margin: 0;
}

header {
    background-color: #333;
    padding: 0;
    position: sticky;
    top: 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content:center;

}

nav ul li a {
    color: rgb(52, 201, 104);
    padding: 14px 20px;
    text-decoration: none;
    display:block;
    font-family: "Outfit", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

nav ul li a:hover {
    background-color: #555;
}

.titulosSections {
    font-family: "Outfit", serif;
    margin-left: 100px;
    margin-top: 30px;
}

section {
    padding: 60px 20px;
    height: 100vh; /* hace que la seccion ocupe el 100% de la pantalla */
}

#sobreMi {
    background-color: #f4f4f4;
}

#experienceIng {
    background-color: #ddd;
}

#misRedes {
    background-color: #745ba3;
}

.contenedorImagenText{
    margin-top: 50px;
    display: flex; /* da flexibilidad a sus elementos internos */
    align-items: center;
    gap: 50px; /* el espacio entre los elementos hijos */
}

.imagen_presentacion{
    width: 600px;
    height: auto;
    border-radius: 40px;
    padding: 20px;
    margin-left: 70px;
    margin-top: 0px;
}

.textos{
    color: rgb(0, 0, 0);
    width: 700px; /* tama;o del cuadro de texto */
}

.contenedorImagenesRedes{
    display: flex;
    justify-content: left;
    gap: 900px;
    text-align: center;
    background-color: #ddd;
    border-radius: 10px;
}

.imagenRedes{
    width: 150px;
    height: auto;
    border-radius: 50px;
    padding: 90px;
}

.imagenRedes img{ /*modificacion para imagenes del contenedor*/
    width: 100%; /*hace que ocupen el 100 del tama;o que eleji en el contenedor*/
    height: auto; /*mantiene la proporcion de la imgen*/
    margin: 10px;
}

footer {
  background-color: #333;
  color: white;
  padding: 20px;
  display: flex;
  align-items: center;
}

.img_footer{
    width: 30px;
    height: auto;
    border-radius: 5px;
    padding: 5px 10px;
    left: 100px;
}

.textFooter{
    left: 100px
}


footer nav a {
    color: rgb(52, 201, 104);
    text-decoration: none;
    padding: 10px 20px;
    margin: 20px
}

footer nav a:hover {
    background-color: #555;
}