body {
    margin: 0;
}

header {
    background-color: #333;
    padding: 0;
    position: sticky;
    top: 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content:center;

}

nav ul li a {
    color: rgb(52, 201, 104);
    padding: 14px 20px;
    text-decoration: none;
    display:block;
}

nav ul li a:hover {
    background-color: #555;
}

section {
    padding: 60px 20px;
    height: 100vh;
}

#present {
    background-color: #f4f4f4;
}

#caracter {
    background-color: #ddd;
}

#dondeC {
    background-color: #d4e9bd;
}

.contenedorImagenText{

    display: flex;
    align-items: center;
    gap: 20px;
}

.imagen_presentacion{
    width: 300px;
    height: auto;
    border-radius: 5px;
    padding: 14px 20px;
}

.textos{
    color: rgb(0, 0, 0);
    text-align: left;
    padding: 14px;
}
/*.demasTextos{
    position: absolute;
    top: 150px;
    right: 20px; 
    color: rgb(0, 0, 0); 
    padding: 5px 10px;
}*/