body {
    margin: 0;
}
header {
    background-color: #B799FF;
    position: sticky;
    padding: 10px 10px;
    top: 0;
}
nav{
    display: flex;
}

nav ul {
    list-style: none;
    margin: 0;
    display: flex;
}

nav ul li a {
    color: #000;
    padding: 14px ;
    text-decoration: none;
    display:block;
    font-family: "Outfit", sans-serif;
}

nav img {
    height: auto;
    width: 50px; 
    margin-right: 10px;
    margin-left: 20px;
}

nav ul li a:hover {
    background-color: #ad89ff;
}


.titulosSections {
    font-family: "Outfit", serif;
    margin-left: 100px;
    margin-top: 30px;
}

section {
    padding: 60px 20px;
    height: 100vh; /* hace que la seccion ocupe el 100% de la pantalla */
}

#sobreMi {
    background-color: #F79BD3;
}

#experienceIng {
    background-color: #F79BD3;
}

#misRedes {
    background-color: #F79BD3;
}

#comentarios{
    background-color: #F79BD3;
}

.tituloMisRedes{
    font-family: "Outfit", serif;
    text-align: center;
    padding: 50px;
}

.contenedorImagenText{
    margin-top: 100px;
    display: flex; /* da flexibilidad a sus elementos internos */
    align-items: center;
    gap: 50px; /* el espacio entre los elementos hijos */
    text-align: justify;
    font-family: "Outfit", serif;
}

.imagen_presentacion{
    width: 600px;
    height: auto;
    border-radius: 40px;
    margin-left: 90px;
}

.textos{
    font-size: 15px;
    color: #000;
    width: 700px; /* tama;o del cuadro de texto */
}


.contenedorImagenesRedes{
    margin: auto;
    display: flex;
    text-align: center;
    background-color: #C5D3E8;
    border-radius: 10px;
    width: fit-content; /*el ancho se ajusta a sus elemntos*/
}

.imagenRedes{
    width: 40px;
    height: auto;
    border-radius: 50px;
}

.imagenRedes img{ /*modificacion para imagenes del contenedor*/
    width: 100%; /*hace que ocupen el 100 del tama;o que eleji en el contenedor*/
    height: auto; /*mantiene la proporcion de la imgen*/
    margin-right:auto ;
}



footer {
  background-color: #B799FF;
  color: #1D1616;
  padding: 20px 20px;
  display: flex;
  align-items:center;
  gap: 10px;
}

.img_footer{
    width: 30px;
    height: auto;
}

.textFooterContactos{
     margin-left: auto;
     font-weight: 700;
}

.otroTextFooter{
    margin-left: 500px;
    color: #1D1616;
}

.miPortafolio{
    color: #1D1616;
    font-size: 18px;
    font-family: "Outfit", sans-serif;
    font-weight: 800;
}

footer img{
    height: auto;
    width: 50px; 
}

.textArea{
    min-height: 100px;   
}

.form{
    margin: auto;
    border-color: #ad89ff;
}

.contenedorComentarios{
    display: flex;
    margin: auto;
    text-align: center;
    width: fit-content;
    margin-top: 70px;
}

.comentarioTitulo{
    font-family: "Outfit", serif;
    font-weight: 700px;
    margin-top: 30px;
    text-align: center;
    font-size: 20px;
}
